:root{
    --speed:1;
}
/* Above is the variable declaration for CSS , we can change variables to Javacript*/
.machine {
    background-color:rgb(207, 145, 82);
    border: dashed brown 4px;
    height:300px;
    width: 900px;
    margin:30px;
    display: flex;

    
}

.slot{
    height:250px;
    width:250px;
    margin:20px;
    background-color: beige;
    border: solid darkblue 3px;
    text-align: center;
    font-size: 120px;
    line-height: 250px;

    overflow: hidden;
}

.animation{
    animation-name: slotspin;
    animation-iteration-count:  infinite;
    animation-duration: calc(1s / var(--speed)) ;
}

@keyframes slotspin{
    0%{
        transform: translateY(-200px);
    }

    100%{
        transform: translateY(200px);
    }
}

#inpSpeed{
    font-size: 30pt;
    margin-left: 100px;
    width:70px;
    margin:30px

}

.controllers{
    background-color: rgb(159, 182, 211);
    border: solid rgb(24, 24, 145) 8px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    width: 900px;
    margin:30px;
}

#btnStop{
    font-size: 30pt;
    margin:50px;
    background-color: crimson;

}

#btnStart{
    font-size: 30pt;
    margin:50px;
    background-image: radial-gradient(rgb(44, 158, 167));
    background-color: cadetblue;
}

.output{

    background-color:lavenderblush;
    border: solid blueviolet 8px;
    display: flex;
    font-size: 30pt;
    padding:2pt;
    align-items: center;
    align-content: space-between;
    justify-content: center;
    width: 900px;
    margin-top:10px;
    margin-left:30px;
    color: rgb(143, 47, 143);
}
